# Importing and Pre-processing Data

## Data Source

[Used Car sets Data - Kaggle](https://www.kaggle.com/datasets/sukhmanibedi/cars4u)

## Importing necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
#to ignore warnings
# import warnings
# warnings.filterwarnings('ignore')

In [ ]:
pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows", 30)

## Importing Data Set

In [ ]:
df = pd.read_csv("data/used_cars_data.csv")

## Checking information about data

In [ ]:
print(f"The data set has {df.shape[0]} rows and {df.shape[1]} columns.")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
# Checking data types, missing values and number of records in each column
df.info()

__Data has missing values in Mileage, Engine, Poer, Seats, New_Price & Price__

In [ ]:
# Visualizing missing records
sns.heatmap(df.isnull(), cbar= False)
plt.show()

# Checking for number of missing values in each column
print(df.isnull().sum())

In [ ]:
# Checking percentage of missing values in each column
round((df.isnull().mean()*100),2)

<a id='missing-values'></a>
86% missing values in __New Price__ <br>
17% missing values in __Price__ <br>
<1% missing values in __Mileage, Engine, Power and Seats__

In [ ]:
# Checking for duplication
df.nunique()

__Fuel_Type, Transmission, Owner_Type__ could as well be categorical variables since they have limited values and can specify specifying a category of vehicle by virtue of features or ownership

In [ ]:
df["Fuel_Type"].unique()

In [ ]:
df["Transmission"].unique()

In [ ]:
df["Owner_Type"].unique()

## Defining Index

In [ ]:
# Could also drop S.No. as pre-defined index provides same accessibility
df.set_index("S.No.", inplace=True)
df.head()

## Feature Engineering
*Creating Custom features basis available data*

### Creating Age of the car

In [ ]:
from datetime import date

In [ ]:
df["Car_Age"] = date.today().year - df["Year"]
df.head()

### Extracting Brand & Model of Car

In [ ]:
df["Brand"] = df["Name"].str.split().str.get(0)
df["Model"] = df["Name"].str.split().str.get(1)
df[["Name", "Brand", "Model"]]

## Cleaning data

### Cleaning Brand Name

In [ ]:
print(("Current Data set has {0} unique brand names \n").format(df["Brand"].nunique()))
print(df["Brand"].unique())

- __"Land", "Mini" appear to be incorrect as there are no brands by these names__
- __"ISUZU/Isuzu" is the same Brand with typo difference__

In [ ]:
# Filtering the records for which Brand name needs to be cleaned
incorrect_model_name = ["Land", "Mini", "ISUZU", "Isuzu"]
filt = df["Brand"].str.contains("|".join(incorrect_model_name), case= False)
df.loc[filt, ["Name", "Brand", "Model"]]

In [ ]:
# Replacing incorrect brand names with correct name
df["Brand"].replace({"ISUZU": "Isuzu", "Mini": "Mini Cooper", "Land": "Land Rover"}, inplace= True)
df.loc[filt, ["Name", "Brand", "Model"]]

### Extracting numeric value of Mileage

In [ ]:
# Splitting numeric value of Mileage from its unit
df["Mileage_Unit"] = df["Mileage"].str.split().str.get(1)
df["Mileage"] = df["Mileage"].str.split().str.get(0)
df["Mileage"] = df["Mileage"].astype(float)
df.head()

#### Checking different units of mileage and its frequency
<a id='mileage-units'></a>

In [ ]:
print(f'Mileage is specified in {df["Mileage_Unit"].unique()} units with below frequency:\n')
print(df["Mileage_Unit"].value_counts())

### Extracting numeric value of Engine

In [ ]:
# replacing null with np.nan
df["Engine"].replace("null", np.nan, inplace=True)

In [ ]:
# Splitting numeric value of Engine from its unit
df["Engine_Unit"] = df["Engine"].str.split().str.get(1)
df["Engine"] = df["Engine"].str.split().str.get(0)
df["Engine"] = df["Engine"].astype(float)
df.head()

In [ ]:
print(f'Engine Capcity is expressed in {df["Engine_Unit"].unique()} units')

<a id='engine-units'></a>
__Dropping column "Engine_Unit" since all values are in CC__ (Ignoring na values)

In [ ]:
df.drop("Engine_Unit", axis = "columns", inplace=True)
df.head()

### Extracting numeric value of Power

In [ ]:
# Splitting numeric value of Power from its unit
df["Power_Unit"] = df["Power"].str.split().str.get(1)
df["Power"] = df["Power"].str.split().str.get(0)
df.head()

In [ ]:
print(f'Power is expressed in {df["Power_Unit"].unique()} units')

<a id='Power-units'></a>
__Dropping column "Power" since all values are in bhp__ (Ignoring na values)

In [ ]:
df.drop("Power_Unit", axis = "columns", inplace=True)
df.head()

*"Power" column contains some null values and cannot be directly coerced to float datatype*

In [ ]:
# replacing null with np.nan
df["Power"].replace("null", np.nan, inplace=True)

In [ ]:
# Converting power to float type for analysis as continuous distribution
df["Power"] = df["Power"].astype(float)
df.head()

### Extracting numeric value of "New_Price"

In [ ]:
# replacing null with np.nan
df["New_Price"].replace("null", np.nan, inplace=True)

In [ ]:
df["New_Price_Unit"] = df["New_Price"].str.split().str.get(1)
df["New_Price"] = df["New_Price"].str.split().str.get(0)
df["New_Price"] = df["New_Price"].astype(float)
df.head()

In [ ]:
print(f'New_Price coulmn has {df["New_Price_Unit"].unique()} units')

<a id='price-units'></a>
__Units of New Price are in Lakh and Crore, hence converting all values to Lakhs to standardise units__ (Ignoring na)

In [ ]:
filt = (df["New_Price_Unit"] == "Cr")
df.loc[filt, "New_Price"] *=100

__Dropping column "New_Price" since all values are now in Lakh__ (Ignoring na values)

In [ ]:
df.drop("New_Price_Unit", axis="columns", inplace=True)
df.head(n=4)

<a id='resale-price'></a>
- __"Price" column refers to resale price of the car__<br>
- Renaming the column accordingly<br>
- Unit for resale price not given, assuming it is in lakh

In [ ]:
df.rename(columns={"Price":"Resale_Price"}, inplace=True)
df.head(n=4)

### Separating Numerical and Categorical variables

In [ ]:
categorical_col_list = df.select_dtypes(include=[object]).columns.to_list()
numerical_col_list = df.select_dtypes(include=[np.number]).columns.to_list()

print(f"Categorical Variables: {categorical_col_list}")
print(f"Numerical Variables: {numerical_col_list}")

### Imputing rows with Missing Values

In [ ]:
df.isnull().sum()

In [ ]:
round(df.isnull().mean()*100,2)

#### Mileage

In [ ]:
print(f"Mileage has {df.loc[(df['Mileage'].isnull()),'Mileage'].isnull().sum()} null values")

In [ ]:
# Assuming "kmpl" as common unit for mileage
df["Mileage_Unit"] = df["Mileage_Unit"].fillna("kmpl")
df.loc[df["Mileage_Unit"].isnull()]

In [ ]:
print(df["Mileage"].describe())
print(df["Mileage"].skew())

*__Mileage distribution is slightly left skewed, hence choosing Median as central tendency for imputation__*

In [ ]:
# using median at Brand and Model level granularity to impute
medians = df.groupby(["Brand", "Model"])["Mileage"].transform("median")
df["Mileage"] = df["Mileage"].fillna(medians)
print(f"Data has {df['Mileage'].isnull().sum()} rows with null values for Mileage")

In [ ]:
# using median at Fuel Type, Power and Engine Capacity level granularity to impute as they impact Mileage
medians = df.groupby(["Fuel_Type", "Power", "Engine"])["Mileage"].transform("median")
df["Mileage"] = df["Mileage"].fillna(medians)
print(f"Data has {df['Mileage'].isnull().sum()} rows with null values for Mileage")

In [ ]:
# Grouping by Brand, Transmission, Fuel_Type for imputing remaining values for Mileage
medians = df.groupby(["Brand", "Transmission", "Seats"])["Mileage"].transform("median")
df["Mileage"] = df["Mileage"].fillna(medians)
print(f"Data has {df['Mileage'].isnull().sum()} rows with null values for Mileage")

In [ ]:
df.isnull().sum()

#### Power

In [ ]:
print(f"Power has {df['Power'].isnull().sum()} null values")

In [ ]:
print(df["Power"].describe())
print(df["Power"].skew())

*__Power distribution is moderately right skewed, hence choosing Median as central tendency for imputation__*

In [ ]:
df.loc[df["Power"].isnull(), "Name"].value_counts()

In [ ]:
# using median at Name & Year level granularity to impute
medians = df.groupby(["Name", "Year"])["Power"].transform("median")
df["Power"] = df["Power"].fillna(medians)
print(f"Data has {df['Power'].isnull().sum()} rows with null values for Power")

In [ ]:
# using median at Model & Year level granularity to impute
medians = df.groupby(["Model", "Year"])["Power"].transform("median")
df["Power"] = df["Power"].fillna(medians)
print(f"Data has {df['Power'].isnull().sum()} rows with null values for Power")

In [ ]:
# using median at Brand & Model level granularity to impute
median = df.groupby(["Brand", "Model"])["Power"].transform("median")
df["Power"] = df["Power"].fillna(median)
print(f"Data has {df['Power'].isnull().sum()} rows with null values for Power")

In [ ]:
# using median at Fuel type, transmission & Engine level granularity to impute as they impact Power
median = df.groupby(["Fuel_Type", "Transmission", "Engine"])["Power"].transform("median")
df["Power"] = df["Power"].fillna(median)
print(f"Data has {df['Power'].isnull().sum()} rows with null values for Power")

In [ ]:
df.isnull().sum()

#### Engine

In [ ]:
print(f"Engine has {df['Engine'].isnull().sum()} null values")

In [ ]:
print(df["Engine"].describe())
print(df["Engine"].skew())

*__Engine distribution is moderately right skewed, hence choosing Median as central tendency for imputation__*

In [ ]:
df.loc[df["Engine"].isnull(), ["Name", "Year"]].value_counts()

In [ ]:
# using median at Name & Year level granularity to impute
medians = df.groupby(["Name", "Year"])["Engine"].transform("median")
df["Engine"] = df["Engine"].fillna(medians)
print(f"Data has {df['Engine'].isnull().sum()} rows with null values for Engine")

In [ ]:
df.groupby(["Model", "Year"])["Engine"].median()

In [ ]:
# Engine capacity for a model remained broadly stable across release years, 
# hence imputing with median at granularity of Model and Year
medians = df.groupby(["Model", "Year"])["Engine"].transform("median")
df["Engine"] = df["Engine"].fillna(medians)
print(f"Data has {df['Engine'].isnull().sum()} rows with null values for Engine")

In [ ]:
# using median at Brand & Model level granularity to impute
medians = df.groupby(["Brand", "Model"])["Engine"].transform("median")
df["Engine"] = df["Engine"].fillna(medians)
print(f"Data has {df['Engine'].isnull().sum()} rows with null values for Engine")

In [ ]:
df.isnull().sum()

#### Seats

In [ ]:
print(f"Seats has {df['Seats'].isnull().sum()} null values")

In [ ]:
print(df["Seats"].describe())
print(df["Seats"].skew())

*__Seats distribution is moderately right skewed<br>
For imputation we shall use median value since seats anyways can't be in decimals__*

In [ ]:
df[df["Seats"]==10]

10 Seats, despite being a outlier, is not a data entry issue on account of specific high end SUVs support 10 seats <br>

In [ ]:
# using median at Name level granularity to impute
medians = df.groupby(["Name"])["Seats"].transform("median")
df["Seats"] = df["Seats"].fillna(medians)
print(f"Data has {df['Seats'].isnull().sum()} rows with null values for Seats")

In [ ]:
# using median at Brand & Model level granularity to impute
medians = df.groupby(["Brand", "Model"])["Seats"].transform("median")
df["Seats"] = df["Seats"].fillna(medians)
print(f"Data has {df['Seats'].isnull().sum()} rows with null values for Seats")

In [ ]:
df[df["Seats"].isnull()]

- All remaining null rows belong to Maruti Estilo <br>
- By domain info we know that Maruti Estilo is 5 seater car; Imputing values accordingly

In [ ]:
df["Seats"] = df["Seats"].fillna(5)
print(f"Data has {df['Seats'].isnull().sum()} rows with null values for Seats")

In [ ]:
df.isnull().sum()

#### New Price

In [ ]:
print(f"New_Price column has {df['New_Price'].isnull().sum()} null values")

In [ ]:
print(df["New_Price"].describe())
print(df["New_Price"].skew())

*__New Price is heavily right skewed, probably because of an outlier; choosing Median as central tendency to impute*__

In [ ]:
df.groupby(["Name", "Year"])["New_Price"].median()

In [ ]:
# using median at Name & Year level granularity to impute
medians = df.groupby(["Name", "Year"])["New_Price"].transform("median")
df["New_Price"] = df["New_Price"].fillna(medians)
print(f"Data has {df['New_Price'].isnull().sum()} rows with null values for New_Price")

In [ ]:
# using median at Brand, Model & Year level granularity to impute
medians = df.groupby(["Brand", "Model", "Year"])["New_Price"].transform("median")
df["New_Price"] = df["New_Price"].fillna(medians)
print(f"Data has {df['New_Price'].isnull().sum()} rows with null values for New_Price")

In [ ]:
# using median at Brand, Model level granularity to impute
medians = df.groupby(["Brand", "Model"])["New_Price"].transform("median")
df["New_Price"] = df["New_Price"].fillna(medians)
print(f"Data has {df['New_Price'].isnull().sum()} rows with null values for New_Price")

In [ ]:
# using median at Model level granularity to impute
median = df.groupby(["Model"])["New_Price"].transform("median")
df["New_Price"] = df["New_Price"].fillna(medians)
print(f"Data has {df['New_Price'].isnull().sum()} rows with null values for New_Price")

In [ ]:
# using medians at Model level granularity to impute
medians = df.groupby(["Brand"])["New_Price"].transform("median")
df["New_Price"] = df["New_Price"].fillna(medians)
print(f"Data has {df['New_Price'].isnull().sum()} rows with null values for New_Price")

In [ ]:
missing_brand_list = df.loc[df["New_Price"].isnull(), "Brand"].unique()
print(df.loc[df["Brand"].isin(missing_brand_list), "New_Price"].unique())
print(f'[{",".join(missing_brand_list)}] have no non-null rows of New_price"')

In [ ]:
# using means at Seats, Fuel_Type, Transmission & Engine level granularity to impute for these cars for closest approximation
means = df.groupby(["Seats", "Fuel_Type", "Transmission", "Engine"])["New_Price"].transform("mean")
df["New_Price"] = df["New_Price"].fillna(means)
print(f"Data has {df['New_Price'].isnull().sum()} rows with null values for New_Price")

In [ ]:
df.loc[df["Brand"].isin(missing_brand_list)]

In [ ]:
df.isnull().sum()

### Dropping Remaining rows with null values

__Dropping remaining rows where mileage, power, new_price is null since they at max 1% null values__

In [ ]:
df.dropna(subset=["Mileage", "Power", "New_Price"], inplace=True)
df.head()

__Creating a dataframe with null values of Resale Price to be used as for test data__

In [ ]:
df_test = df[df["Resale_Price"].isnull()].copy()
print(df_test.shape)
df_test.head()

dropping null rows from original dataset

In [ ]:
df.dropna(inplace=True)
df.isnull().sum()

In [ ]:
print(df.shape)
print(df_test.shape)

# Exploratory Data Analysis (EDA)

## Statistics Summary

In [ ]:
df.describe().T

In [ ]:
df.describe(include="all").T

<a id="summary-stats"></a>
__Key Information from Summary Stats__
- __Year:__ Dataset contains mdoels from __1996-2019__ i.e. ranging over 23 years
  - 75% of the used cars sold are models post 2011 (25 percentile is 2011)
- __Km-driven:__ 75% of used cars are driven below 73,000 km
  -  Avg km-driven of used cars is 58,700 km
  - maximum km-driven is 65lakh km, suggesting it is an outlier i.e. could be removed before predictive modelling: <span style='color:red'>needs more validation</span>
- __Mileage:__ On an average Mileage of used cars is 18 kmpl
  - mileage comprises of both kmpl and km/kg
  - for the sake of analysis will treat both as same since number of rows of km/kg is very less [Mileage Units](#mileage-units)
  - Min value is 0, needs validation for probable data-entry issue or outlier for removal
- __Engine capacity:__ Engine capcity(in CC - [Engine Unit](#engine-units)) averages around 1616 cc
  - Max engine capcity at 5998 CC appears to be an outlier, <span style='color:red'>needs more validation</span>
- __Power:__ Power (in bhp) averages around 113 bhp
  - Similar to Engine capacity, the max value of 616 bhp suggests outlier, <span style='color:red'>needs more validation</span>
- __New Price:__ Original price of used car averages around 22 lakhs [Price Units](#price-units)
  - 75% of cars have original price below 26 lakh
  - Probable outlier with original price of 3.75Cr (375 lakh)
  - Note that over 86% entries do not have original price [Missing Values Info](#missing-values)
- __Resale Price:__ Resale price of used car averages around 11 lakhs [Price Units](#resale-price)
  - 75% of cars have resale price below 10 lakh
  - Probable outlier with resale price of 1.6Cr (160 lakh)
  - Note 17% cars do not have a resale price [Missing Values Info](#missing-values)
- __Car Age:__ Avg age of cars is ~9.5 years
  - 50% used cars are between 7-12 years of age
  - few outliers since max Age of used car at 27 years; <span style='color:red'>needs more validation</span>

## Univariate Analysis - One step at a time

In [ ]:
# Creating directory to save plots
os.makedirs("plots/univariate", exist_ok=True)

### Numerical Variables

In [ ]:
numerical_col_list

In [ ]:
excluded_cols = ["Year", "New_Price"]
excluded_cols

In [ ]:
filtered_list_numerical = [col for col in numerical_col_list if col not in excluded_cols]
filtered_list_numerical

In [ ]:
for num_variable in filtered_list_numerical:
    if num_variable == "Mileage":
        unit = "(kmpl - km/kg)"
    elif num_variable == "Engine":
        unit = "(CC)"
    elif num_variable == "Power":
        unit = "(bhp)"
    elif num_variable == "Car_Age":
        unit = "(years)"
    elif num_variable == "Resale_price":
        unit = "(lakh)"
    else:
        unit = ""
    print(f'Skewness of "{num_variable}" is :', round(df[num_variable].skew(), 2))
    plt.style.use("_mpl-gallery")
    plt.figure(figsize=(15,4))
    plt.subplot(1,2,1)
    plt.title(f"Histogram")
    df[num_variable].hist(grid=False)
    plt.ylabel("Frequency")
    plt.xlabel(f"{num_variable} {unit}")
    plt.subplot(1,2,2)
    plt.title(f"Boxplot")
    sns.boxplot(x=df[num_variable])
    plt.xlabel(f"{num_variable} {unit}")
    plt.savefig(f"plots/univariate/{num_variable}.png", bbox_inches = "tight")
    plt.show()

__Numerical Data - Univariate Analysis Observation__ (Further to [Stats Summary](#summary-stats))
- __Km Driven:__ All values below 1Lakh km, data is heavily right skewed (Skewness = 61.58) <span style='color:green'>remove outliers over 10L km</span>
- __Mileage:__ Mileage is fairly symmetrical with few outliers below 5 <span style='color:green'>Impute outliers with 0.0 Value</span>
- __Engine:__ Engine capacity is moderately right skewed; few outliers over 5500cc <span style='color:green'>remove outliers above 5500 cc</span>
- __Power:__ Power is moderately right skewed;  outliers over 500 bhp <span style='color:green'>remove outliers above 550 bbhp</span>
- __Resale_Price:__ Heavily right skewed, 2 outliers above 1Cr value <span style='color:green'>remove outliers above 1Cr</span>
- __Car_Age:__ Fairly symmetrical in distribution; 1 model over 25 years of age <span style='color:green'>remove outliers above 25 Years</span>

### Dropping outlier rows

In [ ]:
df.drop(df[df["Kilometers_Driven"]>=1000000].index, inplace= True)
df.drop(df[df["Engine"]>=5500].index, inplace= True)
df.drop(df[df["Power"]>550].index, inplace= True)
df.drop(df[df["Resale_Price"]>100].index, inplace= True)
df.drop(df[df["Car_Age"]>25].index, inplace= True)

In [ ]:
df.loc[df["Mileage"] == 0, "Mileage"] = np.nan

## Dropping rows

# Handling 0 value of Mileage

In [ ]:
df.loc[df["Mileage"].isnull(), "Name"].value_counts().index.tolist()

In [ ]:
df["Mileage"].describe()

Mean and Median are broadly same, but fraught with outliers hence imputing null values with median <br>
using granular median at Brand and Model level to

In [ ]:
medians = df.groupby(["Brand", "Model"])["Mileage"].transform("median")
df["Mileage"] = df["Mileage"].fillna(medians)

In [ ]:
df["Mileage"].isnull().sum()

There are 9 rows which still have Mileage as null

In [ ]:
# Grouping by Fuel Type, Power and Engine Capacity as they impact Mileage
medians = df.groupby(["Fuel_Type", "Power", "Engine"])["Mileage"].transform("median")
df["Mileage"] = df["Mileage"].fillna(medians)
df["Mileage"].isnull().sum()

There are 6 rows which still have Mileage as null

In [ ]:
# Grouping by Transmission, Brand for imputing remaining values for Mileage
medians = df.groupby(["Transmission", "Brand"])["Mileage"].transform("median")
df["Mileage"] = df["Mileage"].fillna(medians)
df["Mileage"].isnull().sum()

Leaves us with 1 missing values which may be dropped

In [ ]:
df.head()

In [ ]:
df.groupby(["Brand", "Model"])[["Mileage", "Power", "Engine"]].agg(["mean", "median"])

In [ ]:
df.groupby(["Brand", "Model"])["Mileage"]

In [ ]:
%who

Dropping rows with null values acros all Mileage, Power, Seats, Engine<br>
All these features have less than 1% missing values [Missing Value Info](#missing-values)

In [ ]:
df.loc[df["Seats"].isnull(), "Name"].value_counts()

In [ ]:
df.dropna(how= "all", subset=["Mileage", "Power", "Engine"], inplace = True)
df.head()

### Imputing with mean/median

In [ ]:
df.shape

In [ ]:
filt2 = (df["Seats"]==0)
print(df.loc[filt2].shape)
df.loc[filt2]

In [ ]:
df.head()

In [ ]:
date.today().year

# Original DF

In [ ]:
df2 = pd.read_csv("data/used_cars_data.csv", index_col= "S.No.")

filt2 = df2["Kilometers_Driven"]>=500000
df2.loc[filt2]

In [ ]:
df2.shape